*{
    text-align: center;
}

body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    color: red;
}
.img2{
    float: center;
    width:650px ;
    height:800px;
}

.img1{
    float: center;
    width:100px ;
}

.bg{
    background-color: purple;
    font-family: 'Courier';
}
.mn{
    font-size: 300%;
}

@media only screen and (max-width: 960px) {
    .img2{
        float: center;
        width:330px ;
        height:400px;
    }
    .mn{
        font-size: 200%;
    }
  }